version: '3.8'

services:
  minio:
    image: minio/minio:RELEASE.2025-03-12T18-04-18Z
    container_name: minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9090:9090"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9090"
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: myPassword
      POSTGRES_DB: ansinhso
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
  backend:
    image: be-ansinhso
    container_name: be-ansinhso
    ports:
      - "8081:8081"
    environment:
      DB_URL: jdbc:mysql://postgres:5432/ansinhso
      DB_USERNAME: postgres
      DB_PASSWORD: myPassword
      DB_PORT: 5432
      MINIO_URL: https://cdn-ansinhso.personal-huytd.io.vn
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    depends_on:
      - mysql-database
      - minio
    restart: unless-stopped
volumes:
  minio_data:
  postgres_data:
